* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

main{
    padding: 10px;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.main-login {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;


    & .login {
        width: 100%;
        max-width: 800px;
        height:auto;
        border: .3px solid #8d8d8d;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: #8d8d8d;
        box-shadow: 2px 2px 4px #8d8d8d;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(139, 139, 139, 0.2);

        & .text-login {
            max-width: 300px;
            margin: auto;

            & h2 {
                font-size: 28px;
                text-align: center;
            }

            & p {
                font-size: 18px;
                text-align: center;
            }
        }

        & .input-login {
            display: flex;
            width: 100%;
            padding: 20px;
            justify-content: center;

            & input {
                width: 400px;
                padding: 10px;
                outline: none;
                border: .3px solid #8d8d8d;
                border-radius: 10px;
                background-color: transparent;
                font-size: 22px;
                color: #fff;
                margin: auto;
                display: flex;
                justify-content: center;
                
            }
        }

        & .button-login {
            width: 100%;
            display: flex;
            justify-content: center;

            & button {
                width: 150px;
                height: 50px;
                border: .3px solid #8d8d8d;
                border-radius: 10px;
                background-color: transparent;
                color: #8d8d8d;
                font-size: 22px;
            }

            & button:hover {
                background-color: #8d8d8d;
                color: #333;
                transition: all.5s;
            }
        }
    }
}

@media (min-width:800px) {

    .login {
        margin: auto;
        height: 500px;
        flex-wrap: wrap;
    }



}